/.android
/.arduinoIDE
/.cache
/.designer
/.dotnet
/.espressif
/.ganttproject
/.gitconfig
/.gradle
/.ipynb_checkpoints
/.ipython
/.irpf
/.jdks
/.jupyter
/.keras
/.matplotlib
/.mchp_packs
/.mplabcomm
/.omnisharp
/.platformio
/.receitanet
/.rfb
/.ssh
/.VirtualBox
/.vscode
/.zenmap
/2.mp4
/3D Objects
/advanced_ip_scanner_Aliases.bin
/advanced_ip_scanner_Comments.bin
/advanced_ip_scanner_MAC.bin
/AppData
/CmDust-Result.log
/Contacts
/Creative Cloud Files
/Deskptop
/Desktop
/Documents
/download
/Downloads
/drone.mp4
/Dropbox
/Favorites
/ganttproject.log
/IdeaProjects
/Intel
/IntelGraphicsProfiles
/java0.log
/Links
/MicrosoftEdgeBackups
/MPLABXProjects
/Music
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{36b52910-7893-11ec-9451-bb1c9fc8a4e4}.TxR.0.regtrans-ms
/NTUSER.DAT{36b52910-7893-11ec-9451-bb1c9fc8a4e4}.TxR.1.regtrans-ms
/NTUSER.DAT{36b52910-7893-11ec-9451-bb1c9fc8a4e4}.TxR.2.regtrans-ms
/NTUSER.DAT{36b52910-7893-11ec-9451-bb1c9fc8a4e4}.TxR.blf
/NTUSER.DAT{36b52911-7893-11ec-9451-bb1c9fc8a4e4}.TM.blf
/NTUSER.DAT{36b52911-7893-11ec-9451-bb1c9fc8a4e4}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{36b52911-7893-11ec-9451-bb1c9fc8a4e4}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/OneDrive
/Pictures
/PycharmProjects
/saga_gui.ini
/Saved Games
/Searches
/SimpleBGC_2_0b4.enc.hex
/SimpleBGC_GUI_2_40b8.zip
/source
/test_yolo_v1
/Tracing
/TuneFab
/Untitled.ipynb
/Videos
/VirtualBox VMs
/OneDrive - Tecsoil Automação e Sistemas S.A
/Ambiente de Impressão
/Configurações Locais
/Ambiente de Rede
/Cookies
/Menu Iniciar
/Dados de Aplicativos
/Meus Documentos
/Modelos
/Recent
/SendTo